<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Current Pivotal Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <meta http-equiv="refresh" content="60" />
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Story Name</th>
                    <th>PT #</th>
                </tr>
            </thead>
            <tbody>
                {% for story in stories %}
                    <tr>
                        <td><a href="{{ story.url }}" target="_blank">{{ story.name }}</a></td>
                        <td><input class="story_number" type="text" value="[#{{ story.id }}]" /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>